@import '../../../variables.scss';

.carousel-img {
  width: 28vw !important;
  margin: 1.5rem;
  padding: 2rem 4rem;
  // display: flex !important;
  // flex-direction: column !important;
  // align-items: center !important;
  // justify-content: center !important;
  & > img {
    width: 28vw;
    overflow: hidden;
  }
}

.slick-slide {
  // padding: 0 2rem;
}
