@import '../../../variables.scss';

.project-events {
  padding: 1rem 12rem;
  & > h1 {
    text-transform: uppercase;
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    &::after {
      content: 'b';
      display: block;
      width: 11%;
      height: 2px;
      margin-top: 1rem;
      background: $gradient;
    }
  }

  .event-item {
    background: #ffffff;
    box-shadow: 0px 6px 16px rgba(249, 72, 70, 0.25);
    width: 20%;
    border-radius: 4px;
    margin: 1.5rem;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    width: 21rem !important;
    height: 270px;
    padding: 1rem 0;
    transition: 1s;
    &:hover {
      transform: scale(1.1);
      box-shadow: 0px 6px 16px rgba(249, 72, 70, 0.5);
    }
    & > .item-flex > div > p {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 12px;
      display: flex;
      align-items: center;
      background: $gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    & > img {
      width: 60px;
      border-radius: 100%;
    }
    & > h4 {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 1000;
      font-size: 14px;
      line-height: 19px;
      display: flex;
      align-items: center;
      text-align: center;
    }
    & > p {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 19px;
      display: flex;
      align-items: center;
    }
    & > div {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      &:first-child {
        margin-bottom: 1.4rem;
        border-bottom: 1px solid rgba(248, 70, 70, 0.25);
      }
      & > p {
        font-size: 12px;
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
