@import '../../../variables.scss';

.event-block {
  width: 80%;
  margin: 0 10%;
  margin-top: 5rem;
  padding-bottom: 8rem;
  position: relative;
  .link-event {
    padding: 2rem 0;
    text-align: center;
    display: flex;
    justify-content: center;
    & > a > h4 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: normal;
      font-size: 21px;
      line-height: 25px;
      letter-spacing: 0.02em;
      font-variant: small-caps;
      background: $gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0px 4px 8px rgba(249, 74, 70, 0.35);
      text-transform: uppercase;
    }
  }
  & > .title-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 0 2rem 0;
    & > h2 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: normal;
      font-size: 42px;
      line-height: 49px;
      letter-spacing: 0.02em;
      font-variant: small-caps;
      text-transform: uppercase;
      background: $gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      margin-bottom: 1rem;
      margin-top: 0;
    }
  }
}

.event-line-top {
  position: absolute;
  right: 0;
  top: 0;
  height: 0.2rem;
  width: 600px;
  background-image: $gradient;
}

.event-line-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.2rem;
  width: 600px;
  background-image: $gradient;
}
