@import '../../../variables.scss';

.event-name {
  margin-top: 4.5rem;
  background: $gradient;
  padding: 4rem 10rem;
  & > .inline-flex {
    display: flex;
    justify-content: space-between;
    & > h3,
    & > div > div > h3 {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      color: white;
      font-size: 22px;
      line-height: 30px;
    }
    & > div {
      display: flex;
      justify-content: flex-end;
      width: 50%;
      & > div {
        margin: 0 0 0 4rem;
        &:first-child {
          text-align: left;
        }
        &:last-child {
          text-align: center;
        }
      }
    }
  }
  & > .name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    & > .image {
      margin: 0 2rem;
      width: 131px;
      border-radius: 100%;
      padding: 3px;
      background: white;
      display: flex;
      & > img {
        width: 100%;
        border-radius: 100%;
      }
    }
    & > h1 {
      font-family: Open Sans;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 49px;
      display: flex;
      align-items: center;
      text-align: center;
      color: white;
      margin: 0 2rem;
    }
  }
  & > .volunteer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 4rem 0 0;
    & > a {
      cursor: pointer;
      & > button {
        background: white;
        cursor: pointer;
        box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 1.8rem;
        border: none;
        & > h4 {
          background: $gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          font-family: Roboto;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 19px;
          margin: 0;
          /* identical to box height */

          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.02em;
          font-variant: small-caps;
        }
      }
    }
  }
}
