@import '../../../../variables.scss';

.project-b {
  background: #ffffff;
  box-shadow: 0px 6px 16px rgba(249, 72, 70, 0.25);
  border-radius: 4px;
  margin: 1.5rem;
  padding: 0 1.8rem;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  width: 18rem !important;
  height: 270px;
  transition: 1s;
  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 16px rgba(249, 72, 70, 0.5);
  }
  & > img {
    width: 70px;
    border-radius: 100%;
  }
  & > h4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  & > p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
  }
  & > div {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    & > p {
      font-size: 12px;
      background: $gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
