@import '../../../variables.scss';

.project-description {
  // height: 43vh;
  & > .flex {
    height: 43vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
    & > .text {
      width: 28%;
      padding: 2rem 10rem;
      & > h1 {
        text-transform: uppercase;
        background: $gradient;
        -webkit-background-clip: text;
        font-weight: 600;
        -webkit-text-fill-color: transparent;
        &::after {
          content: 'b';
          display: block;
          width: 30%;
          height: 2px;
          margin-top: 1rem;
          background: $gradient;
        }
      }
      & > p {
        font-weight: 550;
      }
    }
    & > .volunteer-invite {
      width: 50%;
      background: url('../../../img/cloud.svg') no-repeat center;
      display: flex;
      justify-content: center;
      align-items: center;
      & > a > button {
        background: $gradient;
        cursor: pointer;
        box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.2rem 1.8rem;
        border: none;
        &:hover {
          box-shadow: 0px 4px 16px rgba(249, 71, 70, 0.25);
          background-image: linear-gradient(
            to right,
            rgb(255, 255, 255),
            rgb(255, 255, 255),
            rgb(255, 255, 255),
            rgb(255, 255, 255),
            rgb(255, 255, 255),
            rgb(255, 255, 255),
            rgb(255, 255, 255),
            rgb(255, 255, 255),
            rgb(255, 255, 255),
            rgb(255, 255, 255),
            rgb(255, 255, 255),
            rgb(255, 255, 255)
          );
          border: 1px solid #fd7a42;
          & > h4,
          & > a > h4 {
            background: linear-gradient(90deg, #f84646 0%, #fd7a42 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
        & > h4 {
          background: white;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-transform: uppercase;
          font-family: Roboto;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 19px;
          margin: 0;
          /* identical to box height */

          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.02em;
          font-variant: small-caps;
        }
      }
    }
  }
}
