@import '../../../../variables.scss';

.cause-container {
  background: $gradient;
  width: 500px;
  padding: 9% 3%;
  margin-bottom: 1.6rem;
  & > h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 57px;
    letter-spacing: 0.02em;
    text-transform: lowercase;
    color: #ffffff;
    display: flex;
    flex-direction: column;
  }
  & > h2::after {
    content: '';
    margin-top: 0.5rem;
    border-bottom: 0.2rem solid #ffffff;
    width: 4.3rem;
  }
}
