@import '../../variables.scss';

.projects-page {
  margin: 8rem 5%;
  & > .projects-sort {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  & > .projects-content {
    display: flex;
    width: 100%;
    & > .projects-filter {
      width: 22%;
      & > .find {
        & > input {
          padding: 0.5rem;
          border: 1px solid #a4a4a4;
          box-sizing: border-box;
          border-radius: 4px;
          width: 80%;

          background: url('../../img/search.svg') no-repeat scroll right;
          background-position-x: 94%;
        }
      }

      & > .checkboxes {
        background: $gradient;
        padding: 1px 1px 1px 0;
        margin-top: 1rem;
        & > .checkboxes-block {
          background: white;
          padding: 0 1rem 2rem;
          & > .name {
            display: flex;
            width: 100%;
            justify-content: space-between;
            & > h4 {
              padding-top: 0.2rem;
              font-family: 'Roboto';
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              line-height: 25px;
              text-align: center;
              letter-spacing: 0.04em;
              background: $gradient;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
          & > .form-group {
            & > .auth-checkbox {
              font-size: 15px;
              line-height: 15px;
              & > .checkmark {
                height: 15px;
                width: 15px;
              }
              & > .checkmark:after {
                left: 4px;
                top: 0;
                width: 5px;
                height: 9px;
                border: solid black;
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
              }
              & > input:checked ~ .checkmark {
                background: transparent;
                border: 1px solid;
              }
            }
            &:last-child {
              margin: 0;
            }
          }
        }

        &:last-child {
          margin: 0;
          padding: 0 1px 1px 0;
        }
      }
    }

    & > .projects-items {
      width: 78%;
      padding: 1rem 2rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      & > .project-item {
        background: #ffffff;
        box-shadow: 0px 6px 16px rgba(249, 72, 70, 0.25);
        border-radius: 4px;
        margin: 1.5rem;
        display: flex;
        flex-direction: column;
        padding: 0 1.8rem;
        align-items: center;
        justify-content: center;
        height: 270px;
        & > img:first-child {
          border-radius: 100%;
        }
        & > img {
          width: 60px;
          height: 60px;
        }
        & > h4 {
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 1000;
          font-size: 14px;
          line-height: 19px;
          letter-spacing: 0.1em;
          display: flex;
          align-items: center;
          text-align: center;
          text-transform: uppercase;
          margin-bottom: 0.5rem;
        }
        & > p {
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 19px;
          display: flex;
          align-items: center;
          margin-bottom: 0.5rem;
        }
        & > div {
          display: inline-flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          & > p {
            background: $gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          & > img {
            width: 16px;
          }
        }
        & p {
          text-transform: none;
        }
      }
    }
  }
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background: #ffffff;
  border: 1px solid #a4a4a4;
  border-radius: 4px;
  background-image: url('../../img/arrow-down.svg');
  background-repeat: no-repeat;
  background-size: 20px;
  background-attachment: unset;
  padding: 0.5rem;
  padding-right: 4rem;
  background-position-x: 96%;
  background-position-y: center;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #a4a4a4;
  &.sort-active {
    background-image: url('../../img/arrow-up.svg');
  }
  &.city {
    width: 100%;
  }
}
