@import '../../../variables.scss';

.form-page > .form {
  width: 66%;
  background-color: white;
  padding: 4rem 2.5rem 4rem;
  border-radius: 0 16px 16px 0;
  & > .form-group > button,
  & > button,
  .cut-button {
    background: linear-gradient(0deg, #e6e6e6, #e6e6e6);
    box-shadow: 0px 6px 16px rgba(249, 72, 70, 0.25);
    border-radius: 4px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    font-variant: small-caps;
    color: white;
    border: 0;
    &.register-button {
      padding: 1.15rem 1.9rem;
      margin-bottom: 2rem;
    }
    &:hover {
      cursor: not-allowed;
    }
    &.active {
      background: $gradient;
      &:hover {
        background: #f84646;
        cursor: pointer;
      }
    }
    & > h4 {
      margin: 0;
      text-transform: uppercase;
    }
  }
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
  & > img {
    position: absolute;
    top: 0.5rem;
    left: 64%;
  }
}

.form-control {
  border: 1px solid #a4a4a4;
  box-sizing: border-box;
  border-radius: 4px;
  height: 2.4rem;
  width: 70%;
  padding-left: 1rem;
}

.form-control-placeholder-off,
.form-control-placeholder-on {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 0 0 1rem;
  transition: all 200ms;
  opacity: 0.5;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.form-control:focus + .form-control-placeholder-off,
.form-control-placeholder-on {
  font-size: 60%;
  transform: translate3d(0, -40%, 0);
  opacity: 1;
  & > img {
    width: 60%;
  }
}
