.logo-container {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-line {
    display: flex;
    align-items: flex-start;
    margin-right: 1rem;
}

.right-line {
    display: flex;
    align-items: flex-end;
    margin-bottom: .8rem;
    margin-left: 1rem;
}

.logo-img-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > h4 {
        font-family: 'Manjari';
        font-style: normal;
        font-weight: 100;
        font-size: 37px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.04em;
        margin: 0;
        margin-top: .5rem;
    }
}